/*@charset "ISO-8859-1";*/
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: arial;
	background-color:#ffffcc;
	text-align: justify;
}
.contenedor-index header{
	text-align:center;
	background-image:url("../images/Portada2.jpg");
	padding:200px;
	background-size:cover;
	height:100px;
	color:white;
}
.contenedor-index header h1{
	font-size:45px;
	-webkit-text-stroke: 1px black;
	text-shadow: 1px 1px 2px black;
	font-family: impact,rockwell;
	padding-bottom:8px;
}
header p{
	font-style:italic;
	padding-top:20px;
	font-size:18px;
	text-shadow: 1px 1px 2px black;
}
.menu{
	background-color: #3d3d5c;
}
nav ul{
	list-style-type: none;
	 overflow: hidden;
}
nav li{
	float:left;
}
nav a {
    display: block;
    padding: 14px;
    padding-right:20px;
    text-align: center;
    color:white;
}

nav a:link,nav a:visited,nav a:active {
    text-decoration:none;
}
nav a:hover{
	
	background-color: #5c5c8a; 
}
section{
	padding-top:20px;
	display:inline-block;
	max-width:78%; 
}
article h2{
	text-decoration: underline;
}
section article,article p,.pie p{
	padding:10px;
}
aside{
	position:absolute;
	max-width:30%;
	height:368px;
	display:inline-block;
	background-color:#ffd24d;
	padding:10px;
	text-align: center;
}
aside h2{
	font-size:18px;
}
aside p{
	font-size:14px;
}
.pie{
	display:block;
	width:100%;
	text-align:left;
	position:down;
	bottom:0;
	color:white;
	background-color:black;
	font-size:14px;
	
}
th{
	text-align:center;
}
.contenedor-paseos table{
	background-color:white;
	margin-left:5px;
}
.contenedor-paseos th{
	background-color:#b8fffa;
}
.contenedor-paseos p,.contenedor-paseos h1{
	padding:7px;
}

.a {
  background-color: powderblue;
  transition: background-color .5s;
}

a:hover {
  background-color: gold;
}
