/*@charset "ISO-8859-1";*/
*{
	margin: 0px;
	padding: 0px;
}

html{
	min-height: 100%;
	position:relative;
}
body{
	
	background-color:#ffffcc;
	text-align: justify;
}
header{
	text-align:center;
	background-image:url("../images/Portada2.jpg");
	padding:12%;
	background-size:cover;
	height:100px;
	color:white;
}
header h1{
	font-size:43px;
	-webkit-text-stroke: 1px black;
	text-shadow: 1px 1px 2px black;
	font-family: impact,rockwell;
	padding-bottom:8px;
}
header p{
	font-style:italic;
	font-weight: bold;
	padding-top:0px;
	font-size:16.4px;
	text-shadow: 1px 1px 2px black;
}
nav a:link,nav a:visited,nav a:active {
    text-decoration:none;
}
nav a:hover{
	background-color: #4e7381; 
}
section{
	padding-top:20px;
	display:inline-block;
}
article h2{
	text-decoration: underline;
}
section article,article p,.pie p,p,label{
	padding:10px;
}


aside{
	display:inline-block;
	background-color:#ffd24d;
	padding:10px;
	height:100%;
	text-align: center;
}
aside h2{
	font-size:18px;
}
aside p{
	font-size:14px;
}
table {
    padding: 20px;
    margin: 50px auto 0;
    width: 50%;
}
.pie{
	font-size:14px;
	width:100.051%;
}
th{
	text-align:center;
}
/**
.contenedor-paseos table{
	background-color:white;
	margin-left:5px;
	margin-top:-4px;
	border-collapse: collapse;
}
.contenedor-paseos th{
	background-color:#b8fffa;
	padding:2px;
}
.contenedor-paseos p,.contenedor-paseos h1{
	padding:7px;
}
**/
.a {
  background-color: powderblue;
  transition: background-color .5s;
}

a:hover {
  background-color: gold;
}
h2,h1{
	margin:-5px;
}
h1,h2,h3,h4,h5,h6,img{
	margin:5px;
}

.card{
	display:inline-block;
	text-align:center;
	margin-bottom:20px;
	margin-right:55px;
	margin-left:20px;
}

.agregarproducto:hover{
	background-color:transparent;
}
a,p>a:visited,.consejo a:visited,td a:visited{
	color:blue;
	text-decoration:none;
}
.agregarproducto{
	color:black;
}
.card h3{
	font-size:20px;
}

.modificaciones{
	display:inline;
	width: 30%;
}
.card img{
	  width: 97%;
	  height:300px;
	  margin-bottom:-12px;
}

.contenedor-consejos h1,.contenedor-consejos h2,.contenedor-consejos h3,.subtitulo,.contenedor-consejos h4{
	text-align:center;
}

.contenedor-consejos img{
  display: block;
  width:500	px;
  height:500px;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-consejos p:not(.subtitulo){
	text-align:left;
}

.contenedor-consejos hr{
	color:grey;
}

.contenedor-paseos td{
	padding:5px;
	text-align:center;
}

.contenedor-paseos a{
	margin-right:5px;
}

.centrar{
	margin-left:38%;
	margin-right:28%;
}
