<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Consejos de la salud de tu mascota</title>
			<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
		</head>
		<body>
		<header th:replace="~{layouts/header :: header}"></header>
		<div class="menu">
			<nav>
					<ul>
						<li><a th:href="@{/Inicio}">Inicio</a></li>
						<li><a th:href="@{/productos/listado}">Productos</a></li>
						<li><a th:href="@{/consejosalud}">Consejos de salud</a></li>
						<li><a th:href="@{/paseos}">Servicio de paseos</a></li>
						<li><a th:href="@{/sucursales}">Sucursales</a></li>
						<li><a th:href="@{/contáctenos}">Contáctanos</a></li>
					</ul>
				</nav>
		</div>
        		<h1> Consejos para la salud de tu mascota </h1>
    		<main>
        		<nav>
            		<h2>Estos son algunos consejos para la salud de tu mascota</h2>
            		<h3>Visita regularmente al veterinario.</h3>
            		<img th:src="@{/images/salud1.jpg}" alt="salud1" width="300" height="200">
        		<p>El veterinario nos orientará y diseñará un plan de prevención de las innumerables enfermedades que atacan a los animales de compañía, enseñándonos a cuidar de la mejor manera posible a nuestro compañero.
			En la primera visita de nuestro perro o gato al veterinario, éste se encargará de revisar su estado de salud y descartar cualquier patología, además de establecer el plan vacunal y de escoger las vacunas más adecuadas para cada animal según el riesgo de exposición a ciertas enfermedades y la zona de residencia. Por este motivo no existe un calendario de vacunación único. </p>
        			<h3>Desparasita con frecuencia a tu mascota</h3>
        			<img th:src="@{/images/salud2.jpg}" alt="salud2" width="300" height="200">
        			<p>La desparasitación de las mascotas debe llevarse a cabo antes de iniciar el suministro de las vacuna, porque además de eliminar los parásitos, el antiparasitario estimula las defensas y ayuda a que la vacuna produzca un mejor efecto inmune en los animales. </p>
        			<h3>Proporciónale una alimentación sana</h3>
        			<img th:src="@{/images/salud3.jpg}" alt="salud3" width="300" height="200">
        			<p>Utiliza alimentos saludables, que cubran todas las necesidades nutricionales de tu mascota, aportando todos los elementos necesarios para un correcto crecimiento y desarrollo de la mascota, desde sus primeros años de vida hasta su etapa adulta.
Ten en cuenta que las necesidades de tu mascota van cambiando a lo largo de su vida, por lo que proporciona lo que el animal necesite dependiendo de su estado fisiológico. Además es aconsejable repartir las comidas para evitar sobrecargar al animal y que tenga así mejores digestiones.
 Ten siempre a su disposición agua fresca y limpia, para que pueda hidratarse con regularidad.</p>
        			<h3>No descuides su limpieza</h3>
        			<img th:src="@{/images/salud4.jpg}" alt="salud4" width="300" height="200">
        			<p>Para huir de los parásitos externos (pulgas, garrapatas, piojos…) y de las enfermedades de la piel, el primer paso está en la prevención mediante un aseo periódico de tu mascota, de esta manera podremos detectar y tomar las medidas necesarias</p>
        			<h3>Limpia sus dientes con frecuencia</h3>
        			<img th:src="@{/images/salud5.png}" alt="salud5" width="300" height="200">
        			<p>La higiene bucal es una práctica necesaria para evitar problemas en la boca, dientes y encías. Unos dientes y una boca sanos previenen de enfermedades, además de ser necesarios para una perfecta masticación interviniendo directamente en la correcta nutrición de la mascota.

Por lo tanto cuida la boca de tu mascota, cepilla sus dientes o proporciona alimentos específicos para la limpieza bucal, previniendo de esta manera la aparición de caries, sarro, placa dental y mal aliento. No olvides visitar a tu veterinario para que valore el estado dental de tu mascota.</p>
        			<h3>Haz que realice ejercicio con frecuencia</h3>
        			<img th:src="@{/images/salud6.jpg}" alt="salud6" width="300" height="200">
        			<p>Realizar dos paseos al día, salir a correr o jugar con tu mascota son ejercicios que no podemos olvidar para mantener el correcto estado de salud de tu mascota, y que esta pueda tener una vida plena, sana y feliz.

De esta forma mejorarás el correcto funcionamiento intestinal y cardiovascular, y además prevendrás la obesidad de tu mascota.</p>
        		</nav>
        		
    		</main>
    		<footer>
        		<p><a th:href="@{/Inicio}" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
    		</footer>
    		<footer th:replace="~{layouts/footer :: footer}"></footer>
		</body>
	</html>
	
