<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Consejos de la salud de tu mascota</title>
			<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
		</head>
		<body>
		<header th:replace="~{layouts/header :: header}"></header>
		<div class="menu">
			<nav>
					<ul>
						<li><a th:href="@{/Inicio}">Inicio</a></li>
						<li><a th:href="@{/productos/listado}">Productos</a></li>
						<li><a th:href="@{/consejosalud/listado}">Consejos de salud</a></li>
						<li><a th:href="@{/paseos}">Servicio de paseos</a></li>
						<li><a th:href="@{/sucursales}">Sucursales</a></li>
						<li><a th:href="@{/contáctenos}">Contáctanos</a></li>
					</ul>
				</nav>
		</div>
		<div class="contenedor-consejos">
        		<h1> Consejos para la salud de tu mascota </h1>
        		<p class="subtitulo">Aqui encontrarás consejos para la salud de tu mascota</p>
        		<div class="consejo" th:each="conse:${consejos}">
        			<h3 th:text="${conse.titulo}"></h3>
        			<img th:src="@{${conse.imagen}}">
        			<p th:text="${conse.descripcion}"></p>
        			<h4><a th:href="@{/consejosalud/modificar/}+${conse.id}">Editar</a></h4>
        			<h4><a th:href="@{/consejosalud/eliminar/}+${conse.id}">Eliminar</a></h4>
        			<hr>
        		</div>
        		<div class="consejo">
        		<h3><a th:href="@{/consejosalud/nuevo}">Agregar Consejo</a></h3>
        		<hr>
        		</div>
        </div>
        		<p><a th:href="@{/Inicio}" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
    		<footer th:replace="~{layouts/footer :: footer}"></footer>
		</body>
	</html>
	
