<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" lang="es">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
			<title>Consejos de la salud de tu mascota</title>
			<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
			<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
			<link rel="shortcut icon" type="image" th:href="@{/images/icon.png}">
		</head>
		<body>
		<header th:replace="~{layouts/header :: header}"></header>
		<div class="container-fluid">
			<div class="contenedor-consejos">
	        		<h1> Consejos para la salud de tu mascota </h1>
	        		<p class="subtitulo">Aqui encontrarás consejos para la salud de tu mascota</p>
	        		<div class="consejo" th:each="conse:${consejos}">
	        			<h3 th:text="${conse.titulo}"></h3>
	        			<img th:src="@{${conse.imagen}}">
	        			<p th:text="${conse.descripcion}"></p>
	        			<h4><a th:href="@{/consejos_salud/modificar/}+${conse.id}" class="btn btn-outline-warning text-dark" role="button">Editar</a></h4>
	        			<h4><a th:href="@{/consejos_salud/eliminar/}+${conse.id}" class="btn btn-outline-warning text-dark" role="button">Eliminar</a></h4>
	        			<hr>
	        		</div>
	        		<div class="consejo">
	        		<h2><a th:href="@{/consejos_salud/nuevo}" class="btn btn-outline-warning text-dark" role="button">Agregar Consejo</a></h2>
	        		<hr>
	        		</div>
	        </div>
	        		<a th:href="@{/inicio}" title="Haga click para volver a la página de inicio">🏠 Volver al inicio</a><p>
        </div>		
    		<footer th:replace="~{layouts/footer :: footer}"></footer>
    		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		</body>
	</html>
	
