	<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Contacto</title>
	</head>
<body>

	<table>
		<tr>
			<h1>Contáctenos</h1>
	<p>3915 Av. General Belgrano, 388-4999999</p>
	<p>Lunes a Viernes</p>
			<th scope="row">Día</th>
			<th>Lunes</th>
			<th>Martes</th>
			<th>Miercoles</th>
			<th>Jueves</th>
			<th>Viernes</th>
			<th>Sabado</th>
		</tr>
		<tr>
			<th>Horario</th>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
		</tr>
		<tr>
			<th>Paseador</th>
			<td>Juan Perez</td>
			<td>Lucas Diaz</td>
			<td>Juan Perez</td>
			<td>María Gomez</td>
			<td>Lucas Diaz</td>
			<td>Roberto Vazquez</td>
		</tr>
	</table>
	<p><a href="Index.html" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
</body>
</html>