	<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Contacto</title>
	</head>
<body>
<style>
table, th, td,tr {
	  border: 1px solid black
		}
</style>
	<table>
		<h2>Contáctenos</h2> 
		<p>3915 Av. General Belgrano,388-4999999
		</p>
		<p>Lunes a viernes
		</p>
		<p>Sabado y domingo
		</p>
		<p>contacto
		</p>
		<p>facebook
		</p>
			
				
	</table>
	<p><a href="Index.html" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
</body>
</html>