<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Contacto</title>
		<link href="../static/css/estilos.css" rel="stylesheet"/>
	</head>
<body>
<div class="contenedor-index">
		<header>
	    			<h1>Tu tienda y cuidadores de confianza para el bienestar de tu
					compañero canino: Grupo 27</h1>
					<p>Tenemos a la venta de productos relacionados con el cuidado y
					bienestar de las mascotas. Aquí se pueden encontrar alimentos,
					juguetes, accesorios, productos de higiene, entre otros.</p>
		</header>
		<div class="menu">
			<nav>
				<ul>
					<li><a href="Index.html">Inicio</a></li>
					<li><a href="productos.html">Productos</a></li>
					<li><a href="consejosalud.html">Consejos de salud</a></li>
					<li><a href="paseos.html">Servicio de paseos</a></li>
					<li><a href="sucursales.html">Sucursales</a></li>
					<li><a href="contáctenos.html">Contáctanos</a></li>
				</ul>
			</nav>
		</div>
<style>
table, th, td {
	  border: 1px solid black
		}
		tr{
		border: 1px solid black
		}
</style>
	<table>
		<th>
		<h1>Contáctenos</h1>
		
		<p>3915 Av. General Belgrano, 388-4999999</p>
		<p>Lunes a viernes: 9:00 - 20:00</p>
		<p>Sabados y domingos: 9:00 - 13:00</p>
		<p><a>contacto@gmail.com</a></p>
		
    
      <label for="nombre">Nombre:</label>
      <input type="text" ><br>

      <label for="email">Email:</label>
      <input type="email"><br>
     
      <label for="ciudad">ciudad:</label>
      <input type="text" ><br>
      
		<label for="mensaje">Mensaje:</label>
<textarea name="mensaje"  rows="5"></textarea><br>
      <button type="submit">Enviar</button>
      
		</th> 
		
			
				
	</table>
	<p><a href="Index.html" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
</body>
</html>