<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Contacto</title>
		<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
		<style>
table, th, td {
	  border: 1px solid black
		}
		tr{
		border: 1px solid black
		}
</style>
	</head>
<body>
		<header th:replace="~{layouts/header :: header}"></header>
		<div class="menu">
			<nav>
					<ul>
						<li><a th:href="@{/Inicio}">Inicio</a></li>
						<li><a th:href="@{/productos}">Productos</a></li>
						<li><a th:href="@{/consejosalud}">Consejos de salud</a></li>
						<li><a th:href="@{/paseos}">Servicio de paseos</a></li>
						<li><a th:href="@{/sucursales}">Sucursales</a></li>
						<li><a th:href="@{/contáctenos}">Contáctanos</a></li>
					</ul>
				</nav>
		</div>

	<table>
		<th>
		<h1>Contáctenos</h1>
		
		<p>3915 Av. General Belgrano, 388-4999999</p>
		<p>Lunes a viernes: 9:00 - 20:00</p>
		<p>Sabados y domingos: 9:00 - 13:00</p>
		<p><a>contacto@gmail.com</a></p>
		
    
      <label for="nombre">Nombre:</label>
      <input type="text" ><br>

      <label for="email">Email:</label>
      <input type="email"><br>
     
      <label for="ciudad">ciudad:</label>
      <input type="text" ><br>
      
		<label for="mensaje">Mensaje:</label>
<textarea name="mensaje"  rows="5"></textarea><br>
      <button type="submit">Enviar</button>
      
		</th> 
		
			
				
	</table>
	<p><a th:href="@{/Inicio}" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
			
	
</body>
	<footer th:replace="~{layouts/footer :: footer}"></footer>
</html>