	<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Contacto</title>
	</head>
<body>
		<h1>Contáctenos</h1> 
		<p>3915 Av. General Belgrano,388-4999999</p>
		<p>Disponible todos los días</p>
		<h2>Redes:</h2>
		<ul>
			<li><a href=https://www.facebook.com title="Página de facebook"> Facebook </a></li>
			<li><a href=https://www.instagram.com title="Página de instagram"> Instagram </a></li>
		</ul>	
				
	<p><a href="Index.html" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
</body>
</html>