<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Inicio</title>
<link href="../static/css/estilos.css" rel="stylesheet"/>
</head>
<body>
	<div class="contenedor-index">
		<header>
	    			<h1>Tu tienda y cuidadores de confianza para el bienestar de tu
					compañero canino: Grupo 27</h1>
					<p>Tenemos a la venta de productos relacionados con el cuidado y
					bienestar de las mascotas. Aquí se pueden encontrar alimentos,
					juguetes, accesorios, productos de higiene, entre otros.</p>
		</header>
		<div class="menu">
			<nav>
				<ul>
					<li><a href="productos.html">Productos</a></li>
					<li><a href="consejosalud.html">Consejos de salud</a></li>
					<li><a href="paseos.html">Servicio de paseos</a></li>
					<li><a href="sucursales.html">Sucursales</a></li>
					<li><a href="contáctenos.html">Contáctanos</a></li>
				</ul>
			</nav>
		</div>
		<section>
			<article>
				<h2>Paseador de perros profesional: La mejor opción para el
					cuidado de tu mascota</h2>
				<p>Si necesitas que alguien saque a tu perro a caminar durante el
					día, puedes contar con nuestros servicios de paseador de perros.
					Nuestros paseadores de perros altamente calificados se asegurarán de
					que tu mascota reciba el ejercicio y la atención que necesita,
					mientras tú estás ocupado en tu día a día. Ofrecemos paseos de
					diferentes duraciones para satisfacer las necesidades de tu perro,
					ya sea que necesite un paseo rápido para hacer sus necesidades o un
					paseo más largo para mantenerse en forma. Nuestros paseadores de
					perros también se adaptarán a las necesidades específicas de tu
					perro, como su nivel de energía, temperamento y nivel de
					socialización con otros perros. Además de sacar a tu perro a
					caminar, nuestros paseadores de perros también pueden brindarle
					atención adicional, como jugar con él y darle agua fresca después
					del paseo. Nos aseguramos de que tu perro tenga una experiencia
					positiva y enriquecedora cada vez que salga a caminar con nosotros.
	
					Si estás interesado en nuestros servicios de paseador de perros,
					contáctanos para programar una consulta y conocer más sobre cómo
					podemos ayudarte a ti y a tu mascota.</p>
			</article>
			<article>
				<h2>Consejos de salud para perros: Mantén a tu mascota feliz y
					saludable</h2>
				<p>En nuestra página web, ofrecemos consejos de salud para tu
					perro, para ayudarte a mantener a tu mascota feliz y saludable. Los
					perros necesitan cuidados regulares para asegurarse de que estén en
					buena forma física y mental, y nuestros consejos pueden ayudarte a
					lograrlo. Ofrecemos información sobre una variedad de temas de
					salud, como nutrición, cuidado dental, ejercicios, prevención de
					enfermedades, cuidado de la piel y pelaje, y mucho más. Nuestros
					consejos están diseñados para ser útiles tanto para dueños de perros
					nuevos como experimentados.</p>
			</article>
		</section>
	
		<aside>
			<h2>Consejos prácticos de entrenamiento de perros: Aprende a
				educar y fortalecer el vínculo con tu mascota</h2>
			<p>En esta página web encontrarás consejos prácticos y útiles para entrenar a tu perro y fortalecer el vínculo entre tú y tu mascota. Aprenderás sobre técnicas efectivas de entrenamiento, cómo reforzar comportamientos positivos y corregir conductas no deseadas. Además, te daremos consejos para adaptar el entrenamiento a las necesidades individuales de tu perro y cómo hacerlo de una manera divertida y estimulante para él. Nuestro objetivo es ayudarte a construir una relación más fuerte y saludable con tu compañero canino, mientras trabajas juntos en su educación y bienestar.</p>
		</aside>
	
		<footer>
			<div class="pie">
			<p>Copyright 2023 - "Tu tienda y cuidadores de confianza para el
				bienestar de tu compañero canino: Grupo 27" - Diseñado por Grupo 27 –
				Jujuy – República Argentina</p>
			</div>
		</footer>
	</div>
</body>
</html>