<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">		
		<head>
			<meta charset="UTF-8">
			<title>Nuevo Servicio</title>
			<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
		</head>
		<body>
			<header th:replace="~{layouts/header :: header}"></header>
			<div class="menu">
				<nav>
					<ul>
						<li><a th:href="@{/Inicio}">Inicio</a></li>
						<li><a th:href="@{/productos/listado}">Productos</a></li>
						<li><a th:href="@{/consejosalud/listado}">Consejos de salud</a></li>
						<li><a th:href="@{/servicios/listado}">Servicios</a></li>
						<li><a th:href="@{/sucursales/listado}">Sucursales</a></li>
						<li><a th:href="@{/contáctenos}">Contáctanos</a></li>
					</ul>
				</nav>
			</div>
			<h2 th:text="${edicion}?'Editar Servicio':'Nuevo Servicio'"></h2>
			<form th:action="${edicion}?@{/servicios/modificar}:@{/servicios/guardar}" th:object="${servicio}" method="post">
				<label for="id">Id</label>
				<input type="number" id="id" name="servicio_id" th:field="*{id}" readonly><br><br>
				<label for="tipo">Tipo de Servicio</label>
				<input type="text" id="tipo" name="servicio_tipo" th:field="*{tipo}">
				<label for="encargado">Encargado</label>
				<input type="text" id="encargado" name="servicio_encargado" th:field="*{encargado}"><br><br>
				<label for="Horario">Horario del Servicio</label>
				<input type="text" id="horario" name="servicio_horario" th:field="*{horario}">
				<label for="Dias">Dias del Servicio</label>
				<input type="text" id="dias" name="servicio_dias" th:field="*{dias}">
				<p><input type="submit" class="button" th:value="${edicion}?'Guardar Cambios':'Agregar Servicio'"></p>
			</form>
        	<p><a th:href="@{/Inicio}" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
    		<footer th:replace="~{layouts/footer :: footer}"></footer>
		</body>
</html>