<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">		
		<head>
			<meta charset="UTF-8">
			<title>Nueva Sucursal</title>
			<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
		</head>
		<body>
			<header th:replace="~{layouts/header :: header}"></header>
			<div class="menu">
				<nav>
					<ul>
						<li><a th:href="@{/Inicio}">Inicio</a></li>
						<li><a th:href="@{/productos/listado}">Productos</a></li>
						<li><a th:href="@{/consejosalud/listado}">Consejos de salud</a></li>
						<li><a th:href="@{/servicios/listado}">Servicios</a></li>
						<li><a th:href="@{/sucursales/listado}">Sucursales</a></li>
						<li><a th:href="@{/contáctenos}">Contáctanos</a></li>
					</ul>
				</nav>
			</div>
			<h2 th:text="${edicion}?'Editar Sucursal':'Nueva Sucursal'"></h2>
			<form th:action="${edicion}?@{/sucursales/modificar}:@{/sucursales/guardar}" th:object="${sucursal}" method="post">
				<label for="id">Id</label>
				<input type="number" id="id" name="sucursal_id" th:field="*{id}" readonly><br><br>
				<label for="nombre">Nombre</label>
				<input type="text" id="nombre" name="sucursal_nombre" th:field="*{nombre}">
				<label for="provincia">Provincia</label>
				<input type="text" id="provincia" name="sucursal_provincia" th:field="*{provincia}"><br><br>
				<label for="ubicacion">Ubicacion</label>
				<input type="text" id="ubicacion" name="sucursal_ubicacion" th:field="*{ubicacion}">
				<label for="email">Email</label>
				<input type="text" id="email" name="sucursal_email" th:field="*{email}">
				<p><input type="submit" class="button" th:value="${edicion}?'Guardar Cambios':'Agregar Sucursal'"></p>
			</form>
        	<p><a th:href="@{/Inicio}" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
    		<footer th:replace="~{layouts/footer :: footer}"></footer>
		</body>
</html>