<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Servicio de Paseos</title>
<link href="../static/css/estilos.css" rel="stylesheet"/>
</head>
<body>
<div class="contenedor-index">
		<header>
	    			<h1>Tu tienda y cuidadores de confianza para el bienestar de tu
					compañero canino: Grupo 27</h1>
					<p>Tenemos a la venta de productos relacionados con el cuidado y
					bienestar de las mascotas. Aquí se pueden encontrar alimentos,
					juguetes, accesorios, productos de higiene, entre otros.</p>
		</header>
		<div class="menu">
			<nav>
				<ul>
					<li><a href="Index.html">Inicio</a></li>
					<li><a href="productos.html">Productos</a></li>
					<li><a href="consejosalud.html">Consejos de salud</a></li>
					<li><a href="paseos.html">Servicio de paseos</a></li>
					<li><a href="sucursales.html">Sucursales</a></li>
					<li><a href="contáctenos.html">Contáctanos</a></li>
				</ul>
			</nav>
		</div>
	<div class="contenedor-paseos">
		<h1>Servicio de Paseos</h1>
		<p>Puede consultar los distintos horarios de paseos en esta tabla:</p>
		<table border=1>
			<tr>
				<th scope="row">Día</th>
				<th>Lunes</th>
				<th>Martes</th>
				<th>Miercoles</th>
				<th>Jueves</th>
				<th>Viernes</th>
				<th>Sabado</th>
			</tr>
			<tr>
				<th>Horario</th>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>
			</tr>
			<tr>
				<th>Paseador</th>
				<td>Juan Perez</td>
				<td>Lucas Diaz</td>
				<td>Juan Perez</td>
				<td>María Gomez</td>
				<td>Lucas Diaz</td>
				<td>Roberto Vazquez</td>
			</tr>
		</table>
		<p><a href="Index.html" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
	</div>
</body>
</html>