<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Servicio de Paseos</title>
<style>
table, th, td,tr {
 creacion_paseos
	  border: 1px solid black
		}
</style>
</head>
<body>
	<h1>Servicio de Paseos</h1>
	<p>Puede consultar los distintos horarios de paseos en esta tabla:</p>
	<table>
		<tr>
			<th scope="row">Día</th>
			<th>Lunes</th>
			<th>Martes</th>
			<th>Miercoles</th>
			<th>Jueves</th>
			<th>Viernes</th>
			<th>Sabado</th>
		</tr>
		<tr>
			<th>Horario</th>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
		</tr>
		<tr>
			<th>Paseador</th>
			<td>Juan Perez</td>
			<td>Lucas Diaz</td>
			<td>Juan Perez</td>
			<td>María Gomez</td>
			<td>Lucas Diaz</td>
			<td>Roberto Vazquez</td>
		</tr>
	</table>
	<p><a href="Index.html" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
</body>
</html>