<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Productos</title>
			<link href="../static/css/estilos.css" rel="stylesheet"/>
		</head>
		<body>
        		<h1> BIENVENIDO A NUESTRA TIENDA DE PRODUCTOS PARA MASCOTAS </h1>
    		<main>
        		<nav>
            		<h2>Ofertas</h2>
        		</nav>
        		<section>
        			<h2>BOLSO TRANSPORTADOR LISO MB</h2>
        			<img src="../static/images/bolso1.jpg" alt="bolso1" width="200" height="200">
        			<img src="../static/images/bolso2.jpg" alt="bolso2" width="200" height="200">
            		<h4>Este bolso transportador de mascotas está realizado con materiales resistentes y fáciles de limpiar.</h4>
					<h4>Posee una red plástica en los extremos que permite una correcta circulación del aire y luz, además de permitir al animal ver hacia el exterior del bolso.</h4> 
					<h4>El animal se puede ingresar o retirar desde la parte superior o desde una puerta frontal.</h4>
 					<h4>Medidas:</h4> 
					<h5>Largo: 50 cms</h5>
					<h5>Ancho: 25 cms</h5>
					<h5>Alto: 38 cms</h5>
            		
            		
            		
            		<h2>Corral Hexagonal</h2>
            		<img src="../static/images/corral.png" alt="corral" width="400" height="500">
        			<h4>Corral metálico desarmable de metal.</h4>
					<h4>Corral diseñado en metal de acero, desarmable con el tamaño de 60x60 cada seccion, almodable al espacio a cubrir.</h4>
        			      			
            		<h2>Bolso Portacan</h2>
            		<img src="../static/images/bpcan.png" alt="pcan" width="400" height="400">
        			<h4>Habitaculo de facil sujecion a asientos de vehiculos para transporte con mascotas, incluye mosqueton para mascota.</h4>
					<h4>Este bolso transportador de mascotas está realizado con materiales resistentes y fáciles de limpiar.</h4>
					<h4>Posee una red plástica en los extremos que permite una correcta circulación del aire y luz, además de permitir al animal ver hacia el exterior del bolso.</h4> 
					<h4>El animal se puede ingresar o retirar desde la parte superior o desde una puerta frontal.</h4>
        				
        		</section>
        		
    		</main>
    		
    		<footer>
        		<h4>Consulte nuestros catalogos online</h4>
        		<p><a href="Index.html" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
    		</footer>
		</body>
	</html>
	

