<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" lang="es">		
		<head>
			<meta charset="UTF-8">
			<title>Productos</title>
			<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
		</head>
		<body>
		<header th:replace="~{layouts/header :: header}"></header>
		<div class="menu">
			<nav>
					<ul>
						<li><a th:href="@{/Inicio}">Inicio</a></li>
						<li><a th:href="@{/productos/listado}">Productos</a></li>
						<li><a th:href="@{/consejosalud/listado}">Consejos de salud</a></li>
						<li><a th:href="@{/paseos}">Servicio de paseos</a></li>
						<li><a th:href="@{/sucursales}">Sucursales</a></li>
						<li><a th:href="@{/contáctenos}">Contáctanos</a></li>
					</ul>
				</nav>
		</div>
        		<h1> BIENVENIDO A NUESTRA TIENDA DE PRODUCTOS PARA MASCOTAS </h1>
    		<main>
        		<nav>
            		<h2>Ofertas</h2>
        		</nav>
        		<section>
        			<div class="producto" th:each="produ:${productos}">
        				<img th:src="@{${produ.imagen}}">
        				<hr>
        				<div class="descripcion">
        					<h3 th:text="${produ.nombre}"></h3>
        					<p th:text="${produ.descuento}+'% de descuento'"></p>
        					<p th:text="'$'+${produ.calcularDescuento()}"></p>
        					<div class="modificaciones">
        						<p><a th:href="@{/productos/modificar/}+${produ.codigo}">Editar</a></p>
        						<p><a th:href="@{/productos/eliminar/}+${produ.codigo}">Eliminar</a></p>
        					</div>
        				</div>
        			</div>
        			<a th:href="@{/productos/nuevo}" class="agregarproducto">
	            		<div class="producto">
	        				<img th:src="@{https://cdn.icon-icons.com/icons2/1993/PNG/512/add_circle_create_expand_new_plus_icon_123218.png}">
	        				<hr>
	        				<div class="descripcion">
	        					<h3>Agregar Producto</h3>
	        				</div>
	        			</div>
        			</a>
        		</section>
        		
    		</main>
    		
    		<footer>
        		<h4>Consulte nuestros catalogos online</h4>
        		<p><a th:href="@{/Inicio}" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
    		</footer>
    		<footer th:replace="~{layouts/footer :: footer}"></footer>
		</body>
	</html>
	

