<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Servicios</title>
<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
</head>
<body>
		<header th:replace="~{layouts/header :: header}"></header>
		<div class="menu">
			<nav>
					<ul>
						<li><a th:href="@{/Inicio}">Inicio</a></li>
						<li><a th:href="@{/productos/listado}">Productos</a></li>
						<li><a th:href="@{/consejosalud/listado}">Consejos de salud</a></li>
						<li><a th:href="@{/servicios/listado}">Servicios</a></li>
						<li><a th:href="@{/sucursales/listado}">Sucursales</a></li>
						<li><a th:href="@{/contáctenos}">Contáctanos</a></li>
					</ul>
				</nav>
		</div>
	<div class="contenedor-paseos">
		<h1>Servicios</h1>
		<p>Puede consultar los distintos servicios que ofrece la tienda en esta tabla:</p>
		<table border=1>
			<tr>
				<th>Tipo de Servicio</th>
				<th>Encargado</th>
				<th>Horario</th>
				<th>Dias</th>
				<th>Acciones</th>
			</tr>
			<tr th:each="servi:${servicios}">
				<td th:text="${servi.tipo}"></td>
				<td th:text="${servi.encargado}"></td>
				<td th:text="${servi.horario}"></td>
				<td th:text="${servi.dias}"></td>
				<td>
				<a th:href="@{/servicios/modificar/}+${servi.id}">Editar</a>
				<a th:href="@{/servicios/eliminar/}+${servi.id}">Eliminar</a>
				</td>
			</tr>
			<tr>
				<td colspan="5"><a th:href="@{/servicios/nuevo}">Agregar Servicio</a></td>
			</tr>
		</table>
		</div>
		<p><a th:href="@{/Inicio}" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
</body>
</html>