<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Servicios</title>
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
		<link rel="shortcut icon" type="image" th:href="@{/images/icon.png}">
	</head>
	<body>
			<header th:replace="~{layouts/header :: header}"></header>
		<div class="container-fluid">
			<div class="contenedor-paseos">
				<h1 class="text-center">Servicios</h1>
				<p class="text-center">Puede consultar los distintos servicios que ofrece la tienda en esta tabla:</p>
				<table border=1 class="table table-striped mx-auto">
				<thead class="table-dark">
					<tr>
						<th>Tipo de Servicio</th>
						<th>Encargado</th>
						<th>Horario</th>
						<th>Dias</th>
						<th>Acciones</th>
					</tr>
					</thead>
					<tbody>
						<tr class="table-light align-middle" th:each="servi:${servicios}">
							<td th:text="${servi.tipo}"></td>
							<td th:text="${servi.encargado}"></td>
							<td th:text="${servi.horario}"></td>
							<td th:text="${servi.dias}"></td>
							<td>
							<a th:href="@{/servicios/modificar/}+${servi.id}" class="btn btn-outline-warning text-dark p-1" role="button">Editar</a>
							<a th:href="@{/servicios/eliminar/}+${servi.id}" class="btn btn-outline-warning text-dark p-1" role="button">Eliminar</a>
							</td>
						</tr>
						<tr class="table-light">
							<td colspan="5"><a th:href="@{/servicios/nuevo}" class="btn btn-outline-warning text-dark p-1" role="button">Agregar Servicio</a></td>
						</tr>
					</tbody>
				</table>
			</div>
				<a th:href="@{/inicio}" title="Haga click para volver a la página de inicio">🏠 Volver al inicio</a><p>
		</div>
			<footer th:replace="~{layouts/footer :: footer}"></footer>
			<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>