<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Sucursales</title>
			<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
		</head>
		<body>
		
		<div class="contenedor-index">
		<header th:replace="layouts/header :: header"></header>
		<div class="menu">
			<nav>
					<ul>
						<li><a href="Index">Inicio</a></li>
						<li><a href="productos">Productos</a></li>
						<li><a href="consejosalud">Consejos de salud</a></li>
						<li><a href="paseos">Servicio de paseos</a></li>
						<li><a href="sucursales">Sucursales</a></li>
						<li><a href="contáctenos">Contáctanos</a></li>
					</ul>
				</nav>
		</div>
        		<h1> Sucursal San Salvador de Jujuy. </h1>
    		<main>
        		<nav>
            		<h2>Podes encontrarnos en avenida Exodo 386</h2>
        		</nav>
        		<section>
        			
            		<h4>Abierto desde las 08:00 hasta horas 12 y de 16 a 21 horas</h4>
					
					
					
            		<h2>Alto comedero barrio 127 viviendas </h2>
            		
        			<h4>Abierto horario corrido desde las 08:00 hasta las 18 horas.</h4>
        			
        			
        			
					
            		<h2>Barrio San Pedrito </h2>
            		
        			<h4>Encontranos en calle Parroco marshke al 700 </h4>
					<h4>Abierto desde las 08 hasta las 15 horas horario corrido</h4>
					
        		</section>
        		
    		</main>
    		<footer>
        		<h4>Para mas informacion contactenos</h4>
    		</footer>
    			<p><a href="Index" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
		</body>
	</html>
	

